{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Can I Staff It?</h1>

        <form class="mt-3" method="post">
            <div>
              <label class="form-label" for="station">Station</label>
              <input class="form-control" name="station" id="station" placeholder="EDDF_S_TWR" required>
            </div>

            <div class="mt-3">
              <label class="form-label" for="cid">VATSIM ID</label>
              <input class="form-control text-uppercase" name="cid" id="cid" size="9" type="number" value="{{ request.form['cid'] }}" placeholder="100000" required>
            </div>

            <input class="btn btn-primary mt-4" type="submit" value="Submit">
        </form>

        {% if request.method == 'POST' %}
            <div class="mt-4 mb-4 bg-gray border-2 border-top border-gray"></div>
            <div class="row">
            <div> {% if may_control %} ✅ {{ msg }} {% else %} ❌ {{ msg }} {% endif %}</div>
                <div><p>{% if courses and may_control %} <div class="col">⚠️ A Moodle Course is required before you staff this position.
                <ul>
                {% for course in courses[0]['courses'] %}
                    <li><a href={{ course['link'] }}>{{ course['name'] }}</a> </li>
                {% endfor %}
                </ul>
                {%  endif %}
                </div>
            </div>
                <p>{% if fam_msg %} ⚠️ You may need a familiarisation session before you control this station, see <a href="https://knowledgebase.vatsim-germany.org/books/familiarisation/page/familiarisation">Knowledgebase</a> {%  endif %}</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}